/*
	GLOBAL
*/

*
{
	font-family: "Abel";
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	scrollbar-width: thin;
	scrollbar-color: #353b2c #474e3b;
}

/* [Ace] It's done like this so the footer works correctly. */
body
{
	background-color: #2c2d2a;
	position: relative;
	min-height: 100vh;
}

hr
{
	border-color: rgba(199, 219, 138, 0.2);
	border-width: 1px;
	margin-top: 10px;
	margin-bottom: 10px;
}

footer
{
	text-align: center;
	position: absolute;
	bottom: 10px;
	width: 100%;
	color: #a9c68b;
}

section
{
	text-align: justify;
	color: #9ea290;
	font-size: 16pt;
}

ul
{
	list-style-position: inside;
}

p + ul
{
	margin-bottom: 15px;
}

p
{
	margin: 15px 0px;
}

p a, .content .about a
{
	text-decoration: none;
	color: #a9c68b;
}

p a:hover, .content .about a:hover
{
	color: #c2d3c4;
	background-color: #65775f;
	border-bottom: 1px solid #c2d3c4;
}

p a:active, .content .about a: active
{
	color: #c2d3c4;
	background-color: #94a989;
}

h2
{
	margin-top: 10px;
	margin-bottom: 2px;
	font-family: "Armata";
	font-size: 26px;
	text-align: left;
	color: #a9c68b;
}

h3
{
	text-align: left;
	color: #9ea290;
	letter-spacing: 2px;
}

h5
{
	text-align: left;
	color: #9ea290;
	font-style: italic;
}

table
{
	border-collapse: collapse;
}

table caption
{
	font-weight: bold;
	margin-bottom: 5px;
}

table td
{
	padding: 5px;
}

table th
{
	font-size: 80%;
}

.small-text
{
	font-size: 80%;
}

/*
	NAVIGATION
	[Ace] Christ, this took forever to get right.
*/

header
{
	z-index: 50;
	position: fixed;
	top: 0px;
	width: 100%;
	background-color: #474e3b;
	opacity: 80%;
	font-size: 18pt;
	overflow: visible;
}

header h1
{
	float: left;
	font-size: 22pt;
	font-variant: small-caps;
	padding-left: 10px;
	color: #a8af8e;
}

header ul
{
	float: right;
	list-style: none;
	display: inline-flex;
	flex-direction: row-reverse;
	flex-wrap: wrap-reverse;
}

header ul li a, header ul .dropdown
{
	float: right;
	text-align: center;
	text-decoration: none;
	padding: 4px 16px 6px 16px;
	color: #a9c68b;
}

header ul li a:hover
{
	padding: 4px 16px 4px 16px;
	color: #c2d3c4;
	background-color: #65775f;
	border-bottom: 2px solid #c2d3c4;
}

header ul li a:active
{
	padding: 4px 16px 4px 16px;
	color: #c2d3c4;
	background-color: #94a989;
}

header ul .dropdown, header ul .dropdown-link
{
	position: relative;
}

header ul .dropdown:hover
{
	cursor: default;
	background-color: #65775f;
}

header ul .dropdown-content
{
	display: none;
	position: absolute;
	left: 0%;
	top: 100%;
}

header ul .dropdown:hover .dropdown-content, header ul .dropdown-link:hover .dropdown-content
{
	display: block;
	background-color: #3a4030;
	text-align: left;
}

header ul .dropdown-content a
{
	width: 100%;
	display: block;
	text-decoration: none;
	text-align: left;
	padding: 2px 10px 2px 12px;
}

header ul .dropdown-content a:hover
{
	border-bottom: none;
	border-left: 2px solid #c2d3c4;
	padding: 2px 10px 2px 10px;
}

/*
	SIDEBAR
*/

.sidebar
{
	z-index: 10;
	position: fixed;
	top: 20%;
	bottom: max-content;
	max-height: 63%;
	max-width: 14%;
	background-color: #474e3b;
	overflow: hidden;
	overflow-y: scroll;
}

/* If it hits the top of the sidebar, it'll stick on top, becoming the title. */
.sidebar h3
{
	z-index: 20;
	position: sticky;
	top: 0;
	width: 100%;
	font-family: "Armata";
	font-size: 14pt;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px;
	padding-bottom: 5px;
	background-image: linear-gradient(#474e3b 85%, #00000000);
	color: #909679;
}

/* 
Should be used to group stuff.
Can't have more than one in an <ul>, or else the padding-top will break.
*/
.sidebar h4
{
	font-family: "Armata";
	font-size: 12pt;
	padding-top: 5px;
	padding-left: 12px;
	padding-right: 8px;
	margin-bottom: 5px;
	color: #909679;
}

.sidebar ul
{
	list-style: none;
	overflow: hidden;
}

.sidebar a
{
	float: left;
	width: 100%;
	font-size: 14pt;
	text-align: left;
	text-decoration: none;
	padding: 2px 10px 2px 12px;
	color: #a9c68b;
}

.sidebar a:hover
{
	padding: 2px 10px 2px 10px;
	color: #c2d3c4;
	background-color: #65775f;
	border-left: 2px solid #c2d3c4;
}

.sidebar a:active
{
	padding: 2px 10px 2px 10px;
	color: #c2d3c4;
	background-color: #94a989;
}

/*
	SCROLLBAR FOR CHROMIUM
*/

::-webkit-scrollbar
{
	width: 10px;
}

::-webkit-scrollbar-track
{
	background: #474e3b;
	scrollbar-color: #353b2c #474e3b;
}

::-webkit-scrollbar-thumb
{
	background-color: #353b2c;
}

/*
	LANDING PAGE
*/

.titlepic
{
	display: flex;
	justify-content: center;
	overflow: hidden;
}

#home-intro
{
	width: 60%;
}

#home-intro section h2
{
	text-align: center;
}

#home-intro section h5
{
	text-align: center;
}

#home-intro #links
{
	text-align: center;
	margin: 10px auto;
	margin-top: 10px;
}

#home-intro #links img
{
	margin: 10px;
	max-height: 100px;
}

/*
	CONTENT STUFF
*/

.content
{
	position: relative;
	width: 70%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
	padding-bottom: 80px;
}

.content .anchor:before
{
	content: "";
	display: block;
	height: 30px;
	margin: -30px 0 0;
}

.content ul
{
	margin: 10px 0px;
}

.content .about ol, p ~ ul
{
	font-style: italic;
	font-size: 90%;
	margin-top: 5px;
	padding-left: 30px;
}

.content .about ul
{
	list-style: none;
	padding: 0px;
}

.content .about ul a
{
	font-size: 24px;
	font-style: initial;
}

.content .about ul a:hover
{
	border: 0px;
}

.content .about ul a:active
{
	border: 0px;
}

.content .block
{
	background-color: #242523;
	padding: 10px;
	margin: 20px 0px;
}

.content #bulletlib
{
	background-color: #3c351a;
}

/*
	[Ace] Container tables are used to hold other tables. On their own they serve no purpose.
	This is a galaxybrain hack(?) because I could not get multiple tables to align "inline" properly. Using Flex didn't work because it messed up the text when resized.
*/
.content .container-table
{
	margin: 10px auto;
}

.content .container-table tr
{
	vertical-align: top;
}

.content .info-table
{
	margin: 10px auto;
	line-height: 90%;
	border: 2px solid #4e5440;
	background-color: #242523;
}

/* [Ace] A data table is usually an info table but it has a border between the cells. */
.content .data-table
{
	text-align: center;
}

.content .data-table td, .content .data-table th
{
	padding: 2px 5px;
	border: 2px solid #4e5440;
}

.content .data-table tr td, .content .data-table tr th
{
	margin: 10px;
}

.content .loadout-table
{
	line-height: 100%;
	margin: 10px 0px;
	background-color: #30322a;
}

.content .loadout-table .configuration
{
	font-size: 80%;
	background-color: #262924
}

.content .loadout-table .wpvalue, .content .loadout-table .itvalue
{
	max-width: 200px;
	font-size: 80%;
	background-color: #171816;
}

.content .item-table .itvalue
{
	text-align: left;
	max-width: initial;
}

.content .item-table
{
	margin: 10px auto;
}

.content section .code
{
	display: inline;
	font-family: "Consolas";
	padding: 1px 5px;
	font-size: 80%;
	font-style: italic;
	text-align: left;
	background-color: #171816;
	margin-bottom: 3px;
}

.content section .bulk
{
	font-family: "Consolas";
	font-size: 80%;
	color: #c9c182;
	padding: 3px 5px 0px 5px;
	text-align: left;
}

.content section .download
{
	margin-top: 10px;
	max-height: 25px;
}

.content section .description
{
	text-align: left;
	font-size: 90%;
	font-style: italic;
	margin: 10px 0px;
}

/* [Ace] Ordered by priority in descending order. */
.content section .requirement,
.content section .recommended,
.content section .multiplayer,
.content section .missinginfo,
.content section .universal,
.content section .dedicated, /* [Ace] Made for HD. Used by maps*/
{
	text-align: left;
	font-size: 16px;
	letter-spacing: 1px;
	margin: 2px 0px;
}

.content section .requirement
{
	color: #beac6a;
}

.content section .recommended
{
	color: #6aa9be;
}

.content section .multiplayer
{
	color: #6cbe6a;
}

.content section .missinginfo
{
	color: #eb5252;
}

.content section .universal
{
	color: #82d9a3;
}

.content section .dedicated
{
	color: #6cbe6a;
}
